body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Coiny", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bdcdd6;
  background-image: url("../public/img/cute-sunflowers-seamless-pattern-trendy-retro-cartoon-sunflower-character-vector.jpg");
}
.coiny-regular {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
